body{
  background-color: black;
}

div.digit{
  width: 200px;
  height: 350px;
  position:relative;
  float:left;
}

div.column{
  width: 50px;
  height: 350px;
  float:left;
  position:relative;
}

div.led{
  width: 100px;
  height:25px;
  background-color:crimson;
  margin: 0;
  border-radius: 40%
}

div.dot{
  width:25px;
  height:25px;
  border-radius: 40%;
  background-color:crimson;
}

div.off{
  display:none;
}

div.top{
  position:absolute;
  top:30%;
  left:25%;
}

div.bot{
  position:absolute;
  bottom:30%;
  left:25%;
}

div.one{
  position:absolute;
  top: 10%;
  left:25%;
}

div.two{
  position:absolute;
  top: 46%;
  left:25%;
}

div.three{
  position:absolute;
  bottom:10%;
  left:25%;
}

div.four{
  transform:rotate(90deg);
  position:absolute;
  left: -5%;
  top:28%;
}

div.five{
  transform:rotate(90deg);
  position:absolute;
  left: -5%;
  bottom:28%;
}

div.six{
  transform:rotate(90deg);
  position:absolute;
  right: -5%;
  top:28%;
}

div.seven{
  transform:rotate(90deg);
  position:absolute;
  right: -5%;
  bottom:28%;
}
